ENV="development"
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=what

CORS_ORIGINS=["http://localhost:3000"]
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]

DOCS_URL=/docs
REDOC_URL=/redoc

JWT_ALGORITHM=RS256
JWT_EXPIRE_DAYS=7
JWT_EXPIRE_MINUTES=30
JWT_ACCESS_PRIVATE_KEY_PATH=certs/jwt/access_keys/private.pem
JWT_ACCESS_PUBLIC_KEY_PATH=certs/jwt/access_keys/public.pem
JWT_REFRESH_PRIVATE_KEY_PATH=certs/jwt/refresh_keys/private.pem
JWT_REFRESH_PUBLIC_KEY_PATH=certs/jwt/refresh_keys/public.pem