PG_ADMIN_EMAIL=admin@admin.com
PG_ADMIN_PASSWORD=adminmegasecurepass

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

JWT_ALGORITHM=RS256
JWT_EXPIRE_DAYS=7
JWT_EXPIRE_MINUTES=30
JWT_ACCESS_PRIVATE_KEY_PATH=certs/jwt/access_keys/private.pem
JWT_ACCESS_PUBLIC_KEY_PATH=certs/jwt/access_keys/public.pem
JWT_REFRESH_PRIVATE_KEY_PATH=certs/jwt/refresh_keys/private.pem
JWT_REFRESH_PUBLIC_KEY_PATH=certs/jwt/refresh_keys/public.pem

# # APP behavior
RELOAD=False
WORKERS=1
DOCS_URL=/docs
REDOC_URL=/redoc

# CORS
CORS_ORIGINS=["http://localhost:3000"]
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]

# # APP host/port
APP_HOST=0.0.0.0
APP_PORT=6060
