PG_ADMIN_EMAIL=pipipupuchekk@admin.com
PG_ADMIN_PASSWORD=supersecurepasswordnenaebka

POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

JWT_ALGORITHM=RS256
JWT_EXPIRE_DAYS=7
JWT_EXPIRE_MINUTES=30
JWT_ACCESS_PRIVATE_KEY_PATH=certs/jwt/access_keys/private.pem
JWT_ACCESS_PUBLIC_KEY_PATH=certs/jwt/access_keys/public.pem
JWT_REFRESH_PRIVATE_KEY_PATH=certs/jwt/refresh_keys/private.pem
JWT_REFRESH_PUBLIC_KEY_PATH=certs/jwt/refresh_keys/public.pem

RELOAD=False
WORKERS=1
DOCS_URL=/docs
REDOC_URL=/redoc

CORS_ORIGINS=["http://localhost:3000"]
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]

APP_HOST=0.0.0.0
APP_PORT=8000

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CLIENT_ID=FastAPITemplate
KAFKA_ENABLE_IDEMPOTENCE="True"
KAFKA_ACKS=all
KAFKA_RETRIES=2147483647
KAFKA_MAX_IN_FLIGHT_REQUESTS_PER_CONNECTION=5
KAFKA_REQUEST_TIMEOUT_MS=30000
KAFKA_LINGER_MS=50
KAFKA_RETRY_BACKOFF=100
KAFKA_MAX_AGE_METADATA_MS=5000